<template>
  <div>
      <!-- Learn how to use images here: https://gridsome.org/docs/images -->
      <h1 align="center" class="mt-4">GWUESAX NEWS</h1>
      <div>
        <vs-row>
          <vs-col
            vs-type="flex"
            vs-justify="center"
            vs-align="center"
            vs-lg="3"
            vs-sm="5"
            vs-xs="12"
            style="margin: 1rem auto"
            v-for="(article, index) in articles"
            :key="index"
          >
            <vs-card
              actionable
              style="margin-right:1rem; background-color:rgb(197, 235, 246)"
            >
              <div slot="header" style="border-bottom: 2px solid">
                <h3>{{ article.title }}</h3>
              </div>
             <!-- <div slot="media">
                <img src="" />
              </div>-->
              <div class="mb-2" style="font-size: 1rem">
                <h6 class="mb-2">{{ article.publishedAt }}</h6>
                {{ article.description }}
              </div>
              <vs-button
                :href="article.url"
                style="margin-top: 1rem"
                color="danger"
                type="gradient"
                >Read More</vs-button
              >
            </vs-card>
          </vs-col>
        </vs-row>
      </div>
  </div>
</template>

<script>
export default {
  metaInfo: {
    title: "Hello, world!"
  },
  components: {},
  data: () => ({
    articles: [],
    loading: false
  }),
  methods: {
    showNews(data) {
      this.articles = data.articles;
      this.stopLoading();
    },
    showLoading() {
      this.loading = true;
      this.$vs.loading({
        type: "sound"
      });
    },
    stopLoading() {
      this.loadng = false;
      this.$vs.loading.close();
    }
  },
  created() {
    this.showLoading();
    fetch(
      `https://newsapi.org/v2/everything?q=playstation&apiKey=${
        import.meta.env.VITE_API_KEY
      }`
    )
      .then(res => res.json())
      .then(this.showNews);
  }
};
</script>

<style></style>
