<template>
  <div>
    <h2 align="center" class="mt-6">The Latest Technology news</h2>
    <div class="mt-6">
      <vs-row vs-justify="center">
        <vs-col
          vs-type="flex"
          vs-justify="center"
          vs-align="center"
          vs-w="4"
          vs-sm="4"
          v-for="(article, index) in articles"
          :key="index"
          class="mr-4 ml-2"
        >
          <vs-card actionable>
            <div slot="header">
              <h3>{{ article.title }}</h3>
            </div>
            <div></div>
            <div slot="footer">
              <vs-row vs-justify="flex-end">
                <vs-button class="mr-2" type="gradient" color="primary"
                  >=></vs-button
                >
              </vs-row>
            </div>
          </vs-card>
        </vs-col>
      </vs-row>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    articles: [],
    loading: false
  }),
  methods: {
    showNews(data) {
      this.articles = data.articles;
      this.stopLoading();
    },
    showLoading() {
      this.loading = true;
      this.$vs.loading({
        type: "material"
      });
    },
    stopLoading() {
      this.loading = false;
      this.$vs.loading.close();
    }
  },
  created() {
    this.showLoading();
    fetch(
      `https://newsapi.org/v2/everything?q=nba&apiKey=${
        import.meta.env.VITE_API_KEY
      }`
    )
      .then(res => res.json())
      .then(this.showNews);
  }
};
</script>

<style scoped></style>