<template>
  <section class="navbar">
    <div>
      <vs-navbar v-model="activeItem" class="nabarx" type="gradient" active-text-color="rgba(39, 100, 191, 1)" color="rgb(218, 211, 211)">
        <div slot="title">
          <vs-navbar-title>R0N1n-dev</vs-navbar-title>
        </div>
        <vs-navbar-item index="0">
          <router-link to="/">Home</router-link>
        </vs-navbar-item>
        <vs-navbar-item index="1">
          <router-link to="/tech">Technology news</router-link>
        </vs-navbar-item>
        <vs-navbar-item index="2">
          <router-link to="/health">Health news</router-link>
        </vs-navbar-item>
        <vs-navbar-item index="3">
          <router-link to="/about">About</router-link>
        </vs-navbar-item>
      </vs-navbar>
    </div>
  </section>
</template>

<script>
export default {
  data: ()=>({
    activeItem: 0
  })
};
</script>

<style scoped>
.navbar {
  @apply bg-pink-300 h-2rem;
}

.navbar-section {
  @apply inline my-1;
}

.navbar-section a {
  @apply p-2;
}

a.active {
  background: rgb(218, 211, 211);
  color: rgb(14, 18, 20);
}

a.active--exact.active {
  background-color: lightblue;
}
</style>